:root {
    --body-background-color: #ffffff;
    --body-text-color: #000000de;
    --card-background-color: #002b29;
    --nav-background-color: #008284;
    --nav-border-bottom-color: #015450;
    --nav-current-border-bottom-color: #1abc9c;
    --card-border-color: #015450;
    --down-border-left-color: #8c111e;
    --down-background-color: #e22237;
    --degraded-border-left-color: #693a00; /* Grey scale */
    --up-border-left-color: #20bf6b;
    --tag-color: #002b29;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #e22237;
    --tag-degraded-background-color: #a9a9a9; /* Grey scale */
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}
